@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}

.glass {
  @apply bg-white/5 border border-white/10 backdrop-blur-xl;
}
